<ion-tabs>
  <ion-tab [root]='recipesPage' tabTitle='Recipes' tabIcon='medkit'></ion-tab>
  <ion-tab [root]='alarmPage' tabTitle='Alarm' tabIcon='alarm'></ion-tab>
  <ion-tab [root]='chatPage' tabTitle='Chat' tabIcon='paper'></ion-tab>
</ion-tabs>
