page-recipes {
    .background{
        //background: url("../../assets/imgs/tes.jpg");
        background: linear-gradient(to right,#c0c0aa 0%, #1cefff 100%);
        //background-repeat : no-repeat;
    }
}

