<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button> -->
  <ion-grid>
    <h4>Welcome User</h4>
      
    <ion-row>
      <ion-col>
        <button class="btn-big" ion-button block (click)="openPageRecipes()">
          <div>
            <ion-icon name="paper"></ion-icon>
            <label>Recipes</label>
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button class="btn-big" ion-button block color="danger" full (click)="openPageMedicines()">
          <div>
            <ion-icon name="medkit"></ion-icon>
            <label>Medicines</label>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
