<!--
  Generated template for the MedicinesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Medicines</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let medicine of medicines" (click)="showDetails(medicine)">
      {{ medicine.name }}
    </ion-item>
  </ion-list>
</ion-content>
